
.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

footer {
  position: relative;
  margin: 8em 3em 2em 3em;
  font-size: 13pt;
  /*background-color: #3f3f3f;
  color: #fefefe; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &::after {
    position: absolute;
    background-color: #ddd;
    top: -2em;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
  }

  & .languages {
    margin-top: 1em;
    font-weight: 300;
    font-size: 0.8em;
  }

  @media screen and (max-width: 1350px) {
    & {
      padding-right: 10em;
    }
  }

  @media screen and (max-width: 736px) {
    & {
      padding-left: 10em;
      padding-right: 10em;
    }
  }

  @media screen and (max-width: 500px) {
    & {
      padding-left: 5em;
      padding-right: 5em;
    }
  }
}

