/* box shadow */
$shadow: 0 20px 25px 1px rgb(0, 0, 0, 0.07);
/* border radius */
$radius: 10px;

$smooth-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

/* color palette */
$palette1: #b5c5ff;
$palette2: #748de8;
$header1: #4f68c3;
$header2: #6abee3;
$bg: #fafafa;