nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;

  position: absolute;
  left: 40px;
  top: 1em;

  min-width: 200px;

  padding: 1em 0.5em 1em 0.5em;
  font-size: 1.2em;

  &.fixed-nav {
    position: fixed;
    top: 50px;
  }

  & a {
    border-bottom: none;
    position: relative;
    padding-right: 2em;
    font-weight: 700;
    letter-spacing: 0.03em;

    &.active::after {
      height: 140%;
    }

    &::after {
      position: absolute;
      left: -0.7em;
      bottom: -20%;
      height: 0;
      width: 3px;
      content: '';
      background-color: #748de8;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover::after {
      height: 140%;
      bottom: unset;
      top: -20%;
    }
  }

  & h2 {
    padding-left: 1em;
  }

  & ul {
    display: flex;
    flex-direction: column;
  }

  & i {
    display: inline-block;
    width: 1.5em;
  }

  & li {
    padding: 1.25em 0 0 0;
  }

  & .main-menu {
    & * {
      padding-left: 0.5em;
    }

    & .top-item {
      padding-left: 1.5em;
    }

    & .submenu {
      display: none;
      padding-left: 1em;

      & a {
        font-weight: 300;
      }
    }
  }

  @media screen and (max-width: 736px) {
    & {
      margin: -1em 0 2em 0;
      position: static;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      height: auto;
      display: block;

      &.fixed-nav {
        position: static;
        top: unset;
      }

      & .main-menu .top-item {
        padding-left: 0;
      }
    }
  }
}



