@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,900");

/* Reset defaults */

* {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

/* Type */

    body {
        color: #676767;
        font-family: "Roboto", Helvetica, sans-serif;
        font-weight: 300;
        line-height: 1.75;
    }

    main {
        font-size: 12pt;
    }

    header {
        color: #fff;
    }

    a {
        color: inherit;
		transition: border-bottom-color 0.2s ease, color 0.2s ease;
		text-decoration: none;
		border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
    }

        a:hover {
            color: #80acff;
            border-bottom-color: transparent;
        }

        footer a, #menu-button a, nav a {
            border-bottom: none;
        }

    .preface  {
        padding: 2em 0 2em 0;
    }

    .page-name {
        font-size: 2em;
        letter-spacing: 0.05em;
    }

    .title {
        font-size: 2.75em;
        font-weight: 700;
        letter-spacing: -0.05em;
    }

    .links {
        font-size: 12pt;
    }

    h2 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 0.5em 0;
        letter-spacing: -0.05em;
    }

    .gradient {
        background: linear-gradient(to left, #6c87c3, #cac4ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    footer {
        font-size: 12pt;
    }

    nav {
        font-size: 13pt;
    }

    nav a {
        font-weight: 700;
    }

    .submenu a {
        font-weight: 300;
    }

    .expand-button {
        font-weight: 300;
        position: relative;
        top: 0.2em;
        font-size: 0.8em;
    }

    .tile-title {
        font-size: 20pt;
        font-weight: 700;
        letter-spacing: -0.05em;
        text-align: center;
        margin: 0 0 0.5em 0;
    }

        .tile-bigtitle {
            letter-spacing: 0.2em;
            text-align: center;
            font-size: 40pt;
        }

        .tile-description {
            font-size: 13pt;
            font-weight: 300;
            letter-spacing: normal;
            text-align: center;
        }

    .bottom-border {
        border-width: 2px;
        border-bottom-style: solid;
        width: 50%;
        margin: 1em 0 1em 0;
        color: #ddd;
    }
    

    @media screen and (max-width: 800px) {

        main, nav, .tile-description {
            font-size: 12pt;
        }

        footer {
            font-size: 10pt;
        }

        .tile-title {
            font-size: 15pt;
        }
    }

/* Wrapper */

    #wrapper {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f7f9fa;
    }

/* Header */

    header {
        background: linear-gradient(to left, #6c87c3, #cac4ff);
        padding: 1em;
        z-index: 2;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-left-align {
        display: flex;
        justify-content: flex-start;
    }

    .links {
        display: flex;
        justify-content: flex-end;
    }

        .links a {
            border-bottom: none;
        }
        
    .login {
        padding: 0 2em;
    }

/* Main */

    main {
        
        padding: 0 10% 0 18%;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    main.lesspadding {
        padding-left: 10%;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0 0 2em 0;
    }

    @media screen and (max-width: 736px) {

        main {
            padding-left: 3em;
        }

    }

/* Tiles */

    .tiles {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 2em 0 0 0;
        flex-wrap: wrap;
    }

    .tile {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        margin: 1em;
        width: 20%;

        border-radius: 10px;
        
        background-color: #fff;

        box-shadow: 0 5px 10px 5px #edf6ff;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

        .fullwidth {
            width: 100%;
        }
      
        .tile::after {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            opacity: 0;
            box-shadow: 0 10px 20px 5px #e0ecff;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        
        .tile:hover {
            -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
        }
        
        .tile:hover::after {
            opacity: 1;
        }

            .nohover:hover {
                transform: none;
            }

            .nohover:hover::after {
                opacity: 0;
            }

        .tile i {
            display: inline-block;
            width: 1.5em;
        }

        .tile a {
            border-bottom: none;
        }

    @media screen and (max-width: 736px) {

        .tile {
            width: 50%;
        }

        .fullwidth {
            width: 75%;
        }

    }

/* Nav */

    nav {
        position: fixed;
        left: 0;
        top: 0;

        display: flex;
        flex-direction: column;

        padding: 10em 0 0 1.5em;
        height: 100%;
        width: 13%;

        background-color: #fff;

        border-right-style: solid;
        border-width: 2px;
        border-color: #eee;
    }

        nav i {
            display: inline-block;
            width: 1.5em;
        }

        nav li {
            padding: 0.25em 0 0.25em 0;
        }

    .expand {
        cursor: pointer;
    }

    .expand-button {
        padding-left: 5px;
        position: relative;
        float: right;
        padding-right: 2em;
    }

    .submenu {
        display: none;
        padding-left: 1em;
    }

    #menu-button {
        cursor: pointer;
        font-size: 2.8em;
        padding: 0 1em 0 0;

        z-index: 2;
    }


    .slide-in {
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        opacity: 1;
    }

    .slide-in.hide {
        left: -10em;
        opacity: 0;
    }

    @media screen and (max-width: 800px) {

        nav {
            padding-left: 1em;
            width: 14%;
        }

    }

    @media screen and (max-width: 736px) {

        #menu-button {
            display: none;
        }

        nav {
            padding: 1em 0 1em 1em;
            margin: 0 0 2em 0;
            position: static;
            border-right-style: none;
            border-bottom-style: solid;
            width: 100%;
            height: auto;
            
            display: block;
            overflow: auto;
        }

        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

    }

/* Footer */

    footer {
        padding: 0 0 2em 2em;
        z-index: 2;
    }

    @media screen and (max-width: 800px) {

        footer {
            padding-left: 1em;
        }

    }

    @media screen and (max-width: 736px) {

        footer {
            padding-top: 1em;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

    }


/* Editor */

    .editor__button {
        display: block;
        margin: 50px auto;
        max-width: 180px;
        background: #80acff;
        padding: 17px 30px;
        box-shadow: 0 6px 4px -4px rgba(137, 207, 255, 0.77);
        cursor: pointer;
        border-radius: 31px;
        color: #fff;
        font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
        text-align: center;
        display:inline-block;
    }

    .editor__button:hover {
        background: #6c87c3;
    }

    .ce-example .ce-block:first-of-type h2.ce-header{
        font-size: 50px;
    }

    .ce-example h2.ce-header{
        font-size: 30px;
    }

    .ce-example h3.ce-header {
        font-size: 24px;
    }

    .ce-example h4.ce-header {
        font-size: 18px;
    }

    @media all and (max-width: 730px){
        .ce-example__header,
        .ce-example__content{
            padding: 0 20px;
        }
    }