/* box shadow */
/* border radius */
/* color palette */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,900");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto";
}

ul {
  list-style: none;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

#wrapper {
  overflow-x: hidden;
  background-color: #fafafa;
  min-height: 100vh;
}

.container {
  position: relative;
}

header {
  position: relative;
  margin-bottom: 4em;
  padding-left: 400px;
  background: linear-gradient(to right, #4f68c3, #6abee3);
  max-height: 15em;
  overflow: hidden;
}
header .logo {
  position: absolute;
  top: -45px;
  left: 0;
  width: 360px;
}
header .preface {
  padding: 1.8em 0 1.8em 0;
  margin-bottom: 3em;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 16pt;
  display: flex;
  justify-content: space-between;
}
header .preface .page-name {
  font-size: 1.2em;
  position: relative;
}
header .preface .page-description {
  font-size: 1.8em;
  letter-spacing: 0.015em;
  position: relative;
}
header .preface .page-description::after {
  position: absolute;
  left: 0;
  bottom: -0.5em;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}
header .preface .additional-info {
  margin-right: 2em;
  font-size: 1.4em;
}
@media screen and (max-width: 1390px) {
  header .preface .additional-info {
    display: none;
  }
}
@media screen and (max-width: 935px) {
  header {
    padding-left: 250px;
  }
  header .logo {
    width: 230px;
    top: -20px;
  }
  header .preface {
    padding: 1.1em 0 1.1em 0;
    margin-bottom: 2em;
  }
  header .preface .page-name {
    font-size: 1.4em;
  }
  header .preface .page-description, header .preface .additional-info {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 736px) {
  header {
    padding-left: 10px;
  }
  header .logo {
    right: 0;
    bottom: -45px;
    left: unset;
    top: unset;
    opacity: 0.2;
  }
  header .preface {
    margin-bottom: 0;
  }
  header .preface .page-description::after {
    display: none;
  }
}

footer {
  position: relative;
  margin: 4em 9em 2em 3em;
  font-size: 13pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer::after {
  position: absolute;
  background-color: #ddd;
  top: -2em;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
}
footer .languages {
  margin-top: 1em;
  font-weight: 300;
  font-size: 0.8em;
}
@media screen and (max-width: 1350px) {
  footer {
    padding-right: 2em;
  }
}
@media screen and (max-width: 736px) {
  footer {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media screen and (max-width: 500px) {
  footer {
    padding-left: 0;
    padding-right: 0;
  }
}