
.center {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#saveButton, #previewButton {
  text-align: center;
  display: block;
  width: 7em;
  font-size: 2em;
  padding: 1em;
  margin: 1em;
  background-color: #fff;
  border-radius: 20px;
  max-width: 100%;
}

.editor #text {
  padding: 2em;
}

.editor__button {
  display: block;
  margin: 50px auto;
  max-width: 180px;
  background: #80acff;
  padding: 17px 30px;
  box-shadow: 0 6px 4px -4px rgba(137, 207, 255, 0.77);
  cursor: pointer;
  border-radius: 31px;
  color: #fff;
  font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
  text-align: center;
  display:inline-block;
}

.editor__button:hover {
  background: #6c87c3;
}

.editor__button.disabled {
  background: #4068bb;
  cursor: not-allowed;
}

.ce-example .ce-block:first-of-type h2.ce-header{
  font-size: 50px;
}

.ce-example h2.ce-header{
  font-size: 30px;
}

.ce-example h3.ce-header {
  font-size: 24px;
}

.ce-example h4.ce-header {
  font-size: 18px;
}

@media all and (max-width: 730px){
  .ce-example__header,
  .ce-example__content{
    padding: 0 20px;
  }
}

@media screen and (max-width: 990px) {

  .center {
    flex-direction: column;
  }

}

@media screen and (max-width: 540px) {

  #saveButton, #previewButton {
    width: 5em;
  }

}