
nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;

  position: absolute;
  left: 50px;
  top: 15em;
  min-width: 230px;

  padding: 2em;

  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 20px 25px 1px rgb(0, 0, 0, 0.07);

  font-size: 14pt;

  & a {
    border-bottom: none;
    position: relative;
    padding-right: 1em;
    font-weight: 700;

    &::after {
      position: absolute;
      left: -0.7em;
      bottom: -20%;
      height: 0;
      width: 3px;
      content: '';
      background-color: #748de8;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover::after {
      height: 140%;
      bottom: unset;
      top: -20%;
    }
  }

  & h2 {
    padding-left: 1em;
  }

  &.fixed-nav {
    position: fixed;
    top: 50px;
  }

  & ul {
    display: flex;
    flex-direction: column;
  }

  & i {
    display: inline-block;
    width: 1.5em;
  }

  & li {
    padding: 1em 0 1em 0;
    margin: 0 auto 0 auto;
  }

  & .submenu {
    display: none;
    padding-left: 1em;

    & a {
      font-weight: 300;
    }
  }

  @media screen and (max-width: 1350px) {
    & {
      padding: 1em;
    }
  }

  @media screen and (max-width: 736px) {
    & {
      padding: 2em 0 2em 1em;
      margin: 0 0 1em 0;
      position: static;
      width: 100%;
      height: auto;

      display: block;

      text-align: center;
      border-radius: 0;
      box-shadow: none;

      & h2 {
        padding-left: 0;
      }

      & ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      &.fixed-nav {
        position: static;
        top: unset;
      }
    }
  }
}

#menu-button {
  cursor: pointer;
  font-size: 2.2em;
  padding: 0 0 0 14%;
  border-bottom: none;

  z-index: 2;
}
