
.tiles {
  display: flex;
  justify-content: space-around;
  padding: 1.5em 0 1.5em 0;
  flex-wrap: wrap;
  position: relative;

  & > a {
    border-bottom: none;
  }

  & .alt::before {
    border-color: #d6daff;
  }

  & .tiles-title {
    font-size: 18pt;
    margin-bottom: 0.8em;
    letter-spacing: -0.05em;
    text-align: left;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 1.5em;
  width: 25%;

  border-radius: $radius;
  background-color: #fff;
  position: relative;

  box-shadow: 0 5px 10px 5px rgb(0, 0, 0, 0.05);
  transition: $smooth-transition;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 2px $palette1;
    border-radius: $radius;
    left: 3px;
    bottom: 3px;


    transition: $smooth-transition;

    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    box-shadow: 0 1px 15px 1px $palette1;
    pointer-events: none;
  }

  &:hover {
    -webkit-transform: scale(1.04, 1.04);
    transform: scale(1.04, 1.04);

    &::before {
      left: -2px;
      bottom: -2px;
    }

    &::after {
      opacity: 0.5;
    }
  }

  & i {
    display: inline-block;
    width: 1.5em;
  }

  & a {
    border-bottom: none;
  }


  & .tile-title {
    font-size: 18pt;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 0 0.5em 0;
  }

  & .tile-bigtitle {
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 40pt;
  }

  & .tile-description {
    font-size: 13pt;
    font-weight: 300;
    letter-spacing: normal;
    text-align: center;
  }
}

.big {
  width: 25%;
}

.fullwidth {
  width: 95%;
}

.alt {
  color: #fff;
  box-shadow: 0 3px 20px 3px #dbdfff;
  background: linear-gradient(to bottom right, #a1b5ff, #abe5ff);
}

.nohover:hover {
  transform: none;

  &::before {
    left: 3px;
    bottom: 3px;
  }

  &::after {
    opacity: 0;
  }
}
#search {
  box-shadow: none;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 1835px) {

  .tile {
    width: 20%;
  }

  .fullwidth {
    width: 90%;
  }

}

@media screen and (max-width: 1350px) {

  .tile {
    width: 30%;
  }

  .fullwidth {
    width: 90%;
  }

}

@media screen and (max-width: 990px) {

  .tile {
    width: 60%;
  }

  .fullwidth {
    width: 80%;
  }

}

@media screen and (max-width: 500px) {

  .tile {
    width: 70%;
  }

}