
main {
  font-size: 12pt;
}

form {
  font-size: 1.25em;
  position: relative;
}

a {
  color: inherit;
  transition: all 0.2s ease;
  text-decoration: none;
  border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
}

a::before, a::after {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover {
  color: #6c87c3;
  border-bottom-color: transparent;
}

footer a, #menu-button a {
  border-bottom: none;
}


nav a, .fancy-a {
  font-size: 1.2em;
  border-bottom: none;
  position: relative;
  padding: 0.3em;
  z-index: 2;
}

.fancy-a {
  font-weight: 700;
  font-size: 1.25em;
  cursor: pointer;
}

nav a {
  border-bottom: none;
  position: relative;
  padding-right: 1em;
}

nav a::after {
  position: absolute;
  left: -0.7em;
  bottom: -20%;
  height: 0;
  width: 3px;
  content: '';
  background-color: #748de8;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav a.active::after {
  height: 140%;
}

nav a:hover::after {
  height: 140%;
  bottom: unset;
  top: -20%;
}

.fancy-a::before, .fancy-a::after {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fancy-a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #b5c5ff;
  border-radius: 10px;
  left: 3px;
  bottom: 3px;
  z-index: -1;
}

.fancy-a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #b5c5ff;
  border-radius: 10px;
  right: 3px;
  top: 3px;
  z-index: -1;
}

.fancy-a:hover::before {
  left: -2px;
  bottom: -2px;
}

.fancy-a:hover::after {
  right: -2px;
  top: -2px;
}

.bold {
  font-weight: 700;
  font-size: 1.5em;
}

.title {
  font-size: 2.75em;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.links {
  font-size: 13pt;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 0.5em 0;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 0.5em 0;
  letter-spacing: -0.05em;
}

nav h2 {
  padding-left: 1em;
}

.gradient {
  background: linear-gradient(to left, #6c87c3, #cac4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


nav {
  font-size: 14pt;
}

nav a {
  font-weight: 700;
}

.submenu a {
  font-weight: 300;
}

.expand-button {
  font-weight: 300;
  position: relative;
  top: 0.2em;
  font-size: 0.8em;
}

.tile-title {
  font-size: 18pt;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 0.5em 0;
}

.tiles-title {
  font-size: 18pt;
  margin-bottom: 0.8em;
  letter-spacing: -0.05em;
  text-align: left;
}

.tile-bigtitle {
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 40pt;
}

.tile-description {
  font-size: 13pt;
  font-weight: 300;
  letter-spacing: normal;
  text-align: center;
}

#search {
  line-height: 1.3;
  font-size: 14pt;
}

.bottom-border {
  border-width: 2px;
  border-bottom-style: solid;
  width: 50%;
  margin: 1em 0 1em 0;
  color: #ddd;
}

@media screen and (max-width: 736px) {

  .page-name::after {
    display: none;
  }

}
