@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,900");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:300,700,900");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');


/* Reset defaults */

* {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

/* Type */

    body {
        color: #666;
        font-family: "Roboto", Helvetica, sans-serif;
        font-weight: 300;
        line-height: 1.5;
    }

    header {
        letter-spacing: 0.05em;
    }

    main {
        font-size: 13pt;
    }

    a {
        color: inherit;
		transition: color 0.2s ease, border 0.2s ease;
		text-decoration: none;
		border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
    }

        nav a {
            border-bottom: none;
            position: relative;
            padding-right: 2em;
        }

        nav a::after {
            position: absolute;
            left: -0.7em;
            bottom: -20%;
            height: 0;
            width: 3px;
            content: '';
            background-color: #748de8;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        nav a.active::after {
            height: 140%;
        }

        nav a:hover::after {
            height: 140%;
            bottom: unset;
            top: -20%;
        }


    .fancy-a::before, .fancy-a::after {
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

        a:hover {
            color: #6c87c3;
            border-bottom-color: transparent;
        }

        footer a, #menu-button a {
            border-bottom: none;
        }


        .fancy-a {
            border-bottom: none;
            position: relative;
            padding: 0.7em;
            z-index: 2;
        }

        .fancy-a {
            font-weight: 700;
            font-size: 1.25em;
        }

            .fancy-a::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid #c9d7ff;
                border-radius: 10px;
                left: 3px;
                bottom: 3px;
                z-index: -1;
            }

            .fancy-a::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid #c9d7ff;
                border-radius: 10px;
                right: 3px;
                top: 3px;
                z-index: -1;
            }

            .fancy-a:hover::before {
                left: -2px;
                bottom: -2px;
            }

            .fancy-a:hover::after {
                right: -2px;
                top: -2px;
            }

    .page-name {
        font-size: 2em;
        position: relative;
    }

        .page-name::after {
            position: absolute;
            left: 0;
            bottom: -1.5em;
            width: 100%;
            height: 3px;
            background-color: #fff;
            content: '';
        }

    .bold {
        font-weight: 700;
        font-size: 1.5em;
    }

    i {
        font-style: italic;
    }

    b {
        font-weight: 700;
    }

    .title {
        font-size: 2.75em;
        font-weight: 700;
        letter-spacing: -0.05em;
    }

    
    h1 {
        font-size: 2.5em;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 0.5em 0;
        letter-spacing: -0.05em;
    }

    h2 {
        font-size: 1.75em;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.05em;
        padding: 0.5em 0 0.5em 0;
    }

        nav h2 {
            padding-left: 1em;
        }

    h3 {
        font-size: 1.5em;
    }

    p, .editor__warning, .editor__paragraph {
        padding: 0.5em 2em 0.5em 2em;
    }

    mark {
        color: #666;
        letter-spacing: -0.03em;
        font-size: 1.05em;
        font-weight: 700;
        background-color: transparent;
    }

    code {
        padding: 2em;
        font-family: "Source Code Pro", Helvetica, serif;
    }

    main ul {
        list-style: disc;
        padding: 1em 3em 1em 3em;
    }

    main ol {
        padding: 1em 3em 1em 3em;
    }

    main .attache {
        padding: 0.5em 2em 0.5em 2em;
    }

    .editor__warning_title {
        font-weight: 700;
        font-size: 1.2em;
        letter-spacing: 0.05em;
    }

    .gradient {
        background: linear-gradient(to left, #6c87c3, #cac4ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    footer {
        font-size: 12pt;
    }

    nav {
        font-size: 14pt;
    }

    nav a {
        font-weight: 700;

        letter-spacing: 0.03em;
    }

    .sub-menu a {
        font-weight: 300;
    }

    .expand-button {
        font-weight: 300;
        position: relative;
        top: 0.2em;
        font-size: 0.8em;
    }

    @media screen and (max-width: 736px) {

        .page-name::after {
            display: none;
        }

    }


/* Wrapper */

    #wrapper {
        /*display: flex;
        flex-direction: column;
        justify-content: space-between;*/
        overflow-x: hidden;

        background-color: #fafafa;
        min-height: 100vh;
    }

/* Header */

    header {
        position: relative;
        
        margin-bottom: 4em;
        padding-left: 400px;
        background: linear-gradient(to right, #4f68c3, #6abee3);
        max-height: 20em;
        overflow: hidden;
    }

    .logo {
        position: absolute;
        top: -45px;
        left: 0;
        width: 360px;
    }

    .preface {
        padding: 2.8em 0 2.8em 0;
        margin-bottom: 3em;
        position: relative;
        z-index: 1;
        color: #fff;
        font-size: 16pt;
        
        display: flex;
        justify-content: space-between;
    }
    
        .preface .additional-info {
            margin-right: 5em;
            font-size: 1.2em;
            line-height: 2.5em;
        }

        .preface select {
            appearance: none;
            font-family: "Roboto";
            border-radius: 10px;
            width: 3em;
            text-align: center;
        }

    @media screen and (max-width: 736px) {

        header {
            padding-left: 3em;
        }

        .logo {
            width: 13%;
            left: 44%;
            bottom: 5%;
            top: unset;
            right: unset;
        }

    }

/* Main */

    main {
        padding: 0 3em 1.5em 400px;
        min-height: 50vh;
        overflow-x: hidden;
    }

    .image {
        max-width: 70%;
        margin: 5em auto;
    }

    .image img {
        width: 100%;
    }

    .editor__delimiter {
        height: 2px;
        width: 30%;
        background-color: #777;
        margin: 2em 0 2em 0;
    }

    @media screen and (max-width: 736px) {

        main {
            padding-left: 1.5em;
            padding-right: 1em;
        }

        .preface::before {
            left: -2.5em;
        }

    }

/* Nav */

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 2;

        position: absolute;
        left: 30px;
        top: 18em;
        
        min-width: 200px;

        padding: 1em 0.5em 1em 0.5em;
        font-size: 1.2em;

        border-radius: 15px;
        /*background-color: #fff;
        box-shadow: 0 20px 25px 1px rgb(0, 0, 0, 0.07);*/
    }

        nav.fixed-nav {
            position: fixed;
            top: 50px;
        }

    nav ul {
        display: flex;
        flex-direction: column;
    }

        nav i {
            display: inline-block;
            width: 1.5em;
        }

        nav li {
            padding: 1.25em 0 0 0;
        }

    .main-menu * {
        padding-left: 0.5em;
    }

        .main-menu .top-item {
            padding-left: 1.5em;
        }

    .expand {
        cursor: pointer;
    }

    .expand-button {
        padding-left: 5px;
        position: relative;
        float: right;
        padding-right: 2em;
    }

    .submenu {
        display: none;
        padding-left: 1em;
    }

    @media screen and (max-width: 736px) {


        nav {
            margin: -1em 0 2em 0;
            position: static;
            box-shadow: none;
            border-radius: 0;
            width: 100%;
            height: auto;
            
            display: block;
        }

        .main-menu .top-item {
            padding-left: 0;
        }

        nav.fixed-nav {
            position: static;
            top: unset;
        }

    }

/* Footer */

    .flex-start {
        justify-content: flex-start;
    }
    
    .flex-end {
        justify-content: flex-end;
    }

    footer {
        margin: 5em 0 0 0;
        padding: 3% 30% 3% 25%;
        background-color: #3f3f3f;
        color: #fefefe;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    @media screen and (max-width: 736px) {

        footer {
            padding-left: 5em;
            padding-right: 3em;
        }

    }